// ========================================================
//     Reset
// ========================================================
@import "_reset/reset";
//@import "_reset/normarize";

// =========================================================
//     Import
// =========================================================
@import "_import/mixin";
@import "_import/util";
@import "_import/typo";
@import "_import/variable";

// =========================================================
//     Sprite
// =========================================================
@import "sprite";

// =========================================================
//     Base
// =========================================================
@import "base";

// =========================================================
//     Layout
// =========================================================
@import "_layout/header";
@import "_layout/footer";

// =========================================================
//     Module
// =========================================================

// =========================================================
//     Main
// =========================================================
body {
  background: #ccc;
}

h1 {
  @include sprite($site-logo);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  margin: 3em auto;
}
